html {

    font-family: Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(24, 21, 21, 0);
  }
  
  
  .city {display:none}
  
  
  td img{
   
    max-width: 30px;
    max-height: 30px;
  }
  
  .form-contro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    position: relative;
  }
  
  input,
  select,
  textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 1.25;
    max-width: 100%;
    padding: 6px 12px;
    position: relative;
    width: 100%;
  }

/* Estilo para los input y select */
.fieldlabels, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilo para los labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para el formulario */
.form-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; /* Esto centrará el formulario horizontalmente */
}

.botones-gs{
    width:100%;
    display:flex;
    justify-content:center;
}

.action-button {
    padding: 10px 20px; /* Ajusta el tamaño de los botones */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none; /* Para eliminar el subrayado en el enlace */
}

.action-button.red-button {
    background-color: #ff0000; /* Color rojo para el botón "Cancelar" */
    color: white;
}

.action-button.green-button {
    background-color: #4ca800; /* Color verde para el botón "Guardar y salir" */
    color: white;
}

.action-button.green-button:hover {
    background-color: #347400; /* Cambia el color al pasar el ratón por encima de "Guardar y salir" */
    color: white;
}

.action-button.red-button:hover {
    background-color: #ff0000; /* Cambia el color al pasar el ratón por encima de "Cancelar" */
    color: white;
}


#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

#register{

  color: #6A1B9A;
}

h1 {
    text-align: center
}



.tab input:focus{

  border:1px solid #6a1b9a !important;
  outline: none;
}

input.invalid {
 
    border:1px solid #e03a0666;
}

.tab {
    display: none
}

button {
    background-color: #6A1B9A;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus{

  outline: none !important;
}

#prevBtn {
    background-color: #bbbbbb
}


.all-steps{
      text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
       height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6a1b9a;
    opacity: 0.5;
}

.step.active {
    opacity: 1
}


.step.finish {
   color: #fff;
   background: #6a1b9a;
   opacity: 1;

}



.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}