html {

  font-family: Arial, Helvetica, sans-serif ;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(24, 21, 21, 0);
}


.city {display:none}


td img{
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}

.form-contro {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0.5rem;
  position: relative;
}

input,
select,
textarea {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  display: block;
  font-size: 13px;
  line-height: 1.25;
  max-width: 100%;
  padding: 6px 12px;
  position: relative;
  width: 100%;
}


/********** Search Bar **********/
input[type="search"] {
  display: grid;
  justify-content: flex-end;
  border-width: 2px;
  display: inline-block;
  padding-left: 2.5em;
  transition: width 0.4s ease-in-out 0s;
  width: 50%;
  border-color: rgb(0, 3, 0), 1;
}

input[type="search"]:focus {
  width: 100%;
}


label[for="search"] {
  bottom: 6px;
  color: #999;
  left: 1em;
  position: absolute;
  z-index: 1;
}



.green-button {
  display: inline-block;
  background-color: #4ca800;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.green-button:hover{
  background-color: #bff592;
  color: black;
}

.plus-icon {

  display: inline-block;
  line-height: 1;
  font-weight: bold;
}

.form-content {
  width: 100%;


  text-align: center;
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.imagen-espaciada {
  border: none;
  /* Agrega margen horizontal entre las imágenes */
  margin: 0 5px;
}

.navbar {
  background-color: #2C2F35;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  border: none;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2C2F35;
  border-radius: 4px;
  padding: 8px;
  min-width: max-content; /* Establece el ancho mínimo para que coincida con el contenido */
}

.navbar-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 12px;
}

.navbar-menu li a:hover {
  background-color: #6c757d;
}

.navbar-menu.active1 {
  display: grid;
  justify-content: center;
  align-items: end;
}

.avatar-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.pagination a.active1 {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

/* Estilo para las flechas de Anterior y Siguiente */
.pagination a.prevnext {
  font-weight: bold;
}

.contiene{
  display: inline-block;
}



.w3-modal-content {
  max-width: 100%;
  margin: auto;
}

.w3-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
}

.w3-modal-header h2 {
  margin: 0;
}

.w3-modal-header .w3-button {
  font-size: 24px;
}

.form-card {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-card label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.form-card select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-card input[type="submit"] {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contiene {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container12 {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.input-group {
  font-size: 18px;
}

.input-group input[type="checkbox"] {
  margin-top: 5px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}


.bptpn{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color:#999;
}

.toggle-checkbox {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.toggle-slot {
font-size: 10px;
position: relative;
height: 3.5em;
width: 7em;
border: 0px solid transparent;
border-radius: 10em;
background-color: white;
transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
background-color: #374151;
}

.toggle-button {
transform: translate(0.3em, 0.25em);
position: absolute;
height: 3em;
width: 3em;
border-radius: 50%;
background-color: #ffeccf;
box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
background-color: #485367;
box-shadow: inset 0px 0px 0px 0.75em white;
transform: translate(3.65em, 0.25em);
}

.sun-icon {
position: absolute;
height: 6em;
width: 6em;
color: #ffbb52;
}

.sun-icon-wrapper {
position: absolute;
height: 6em;
width: 6em;
opacity: 1;
transform: translate(2em, 2em) rotate(15deg);
transform-origin: 50% 50%;
transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
opacity: 0;
transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
position: absolute;
height: 6em;
width: 6em;
color: white;
}

.moon-icon-wrapper {
position: absolute;
height: 6em;
width: 6em;
opacity: 0;
transform: translate(11em, 2em) rotate(0deg);
transform-origin: 50% 50%;
transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
opacity: 1;
transform: translate(2em, 2em) rotate(-15deg);
}

.collapsible {
  background-color: #343a40;
  color: #c2c7d0;
  cursor: pointer;
  padding: 10px 18px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}


.content {
  padding: 0px 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
/* Estilos para los contenedores de familiares */
.campo-familia {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f5f5f5;
}

/* Estilos para las filas */
.fila {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.fila1{
  display: grid;
  justify-content: center;
width: 100%;
  align-items: center;
  margin: 10px 50px 10px 10px;
}


/* Estilo para los campos de entrada */
.fila input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}




.content-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  color: #fff;
}

.order-card {
  border: 2px solid #17a2b8;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.order-card:hover {
  transform: scale(1.05);
}

.card-block {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Eliminamos estilos relacionados con el enlace */
.boton {
  display: inline-block;
  padding: 10px 20px; /* Ajusta este padding según tus necesidades */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  width: 120px; /* Ancho fijo para ambos botones */
}

/* Estilos específicos para el botón de REINGRESO */
.reingreso {
  background-color: #3498db;
  color: #fff;
}

/* Estilos específicos para el botón de DAR DE ALTA */
.darDeAlta {
  background-color: #2ecc71;
  color: #fff;
}

.ver{
  background-color: #cc2eaa;
  color: #fff;
}